<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Queries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    <section>
    <h1>Customer Inquiries</h1>

    <table >
        <tr>
            <th>Email</th>
            <th>Inquiry Date</th>
            <th>Message</th>
           <th>date</th>
        </tr>
        {% for support in supports %}
        <tr>
            <td>{{ support.email }}</td>
            <td>{{ support.inquiry_date }}</td>
            <td>{{ support.inquiry_text }}</td>
            <td>{{ support.inquiry_date }}</td>
        </tr>
        {% endfor %}
    </table>

</section>
</body>
</html>
