<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Queries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="burger" id="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="nav-links" id="navLinks">
                <a href="{{ url_for('reservations.reservations_creation') }}">Create Reservation</a>
                <a href="{{ url_for('support.support_page') }}">Customer Support</a>
                <a href="{{ url_for('menu.menu') }}">Menu</a>
    
                {% if not session.get('username') %}
                    <a href="{{ url_for('auth.sign_in') }}">Sign in</a>
                {% else %}
                    <a href="{{ url_for('reservations.reservations_foh') }}">View Reservations (FOH)</a>
                    <a href="{{ url_for('notifications.notifications') }}">Notifications</a>
                    <a href="{{ url_for('manager.requests_manager') }}">Manager Requests</a>
                    <a href="{{ url_for('menu.add_menu_item') }}">Add Menu Items</a>
                    <a href="{{ url_for('support.view_queries') }}">Manager: View Queries</a>
                    <a href="{{ url_for('inventory.add_supplier_inventory') }}">Supplier/Inventory</a>
                    <a href="{{ url_for('manager.get_my_schedule') }}">Schedule</a>
                    <a href="{{ url_for('manager.view_staff_schedules') }}">Manage Schedules</a>
                    <a href="{{ url_for('payment.payment_tables') }}">Table Payments</a>
                    <a href="{{ url_for('manager.create_schedule') }}">Create Schedule</a>
                    <a href="{{ url_for('manager.manager_reports') }}">Reports</a>
                    <a href="{{ url_for('order.view_tables') }}">Tables</a>
                    <a href="{{ url_for('inventory.inventory') }}">Inventory</a>
                    <a href="{{ url_for('auth.get_profile') }}">Profile</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <section>
    <h1>Customer Inquiries</h1>

    <table >
        <tr>
            <th>Email</th>
            <th>Inquiry Date</th>
            <th>Message</th>
           <th>date</th>
        </tr>
        {% for support in supports %}
        <tr>
            <td>{{ support.email }}</td>
            <td>{{ support.inquiry_date }}</td>
            <td>{{ support.inquiry_text }}</td>
            <td>{{ support.inquiry_date }}</td>
        </tr>
        {% endfor %}
    </table>

</section>
</body>
</html>
