<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    <section>
    <form method="GET" action="{{ url_for('manager.view_staff_schedules') }}">
        <label>Select Staff:</label>
        <select name="staff_id">
            {% for staff in staff_members %}
                <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }}</option>
            {% endfor %}
        </select>
    
        <label>Start Date:</label>
        <input type="datetime-local" name="start">
    
        <label>End Date:</label>
        <input type="datetime-local" name="end">
    
        <button type="submit">View Schedule</button>
    </form>
    
    {% if schedules %}
        <table border="1">
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
            {% for sched in schedules %}
            <tr>
                <td>{{ sched.shift_start }}</td>
                <td>{{ sched.shift_end }}</td>
                <td>
                    <form method="POST" action="{{ url_for('manager.delete_schedule', schedule_id=sched.id) }}">
                        <button type="submit" onclick="return confirm('Delete this schedule?')">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

</section>
</body>
</html>