<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    <section>
    <h1>Notifications</h1>

    <div class="notifications-container">
        {% for note in notifications %}
        <div class="notification">
            <h3>{{ note.message }}</h3>
            <p >Visible to: {{ note.role }}</p>
            {% if note.timestamp %}
            <p >Time: {{ note.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
            {% endif %}
        </div>
        {% else %}
        <p >No notifications available.</p>
        {% endfor %}
    </div>
</section>
</body>
</html>
