
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
<section>
    <h2 class="order-title">Table {{ table_number }} </h2>
    <h2 class="order-title"> Order {{ order_id }}</h2>

        <h3>Order Items</h3>
        <table>
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in menu_items %}
                <tr>
                    <td>{{ item.Item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price }}</td>
                    <td>
                <!-- Decrease quantity -->
                <form method="POST" action="{{ url_for('order.decrease_quantity', table_id=table_id, menu_item_id=item.id) }}" style="display: inline;">
                    <button type="submit">Reduce</button>
                </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <form method="POST" action="{{ url_for('order.remove_order', table_id=table_id) }}" style="display: inline;">
            <button type="submit">Delete</button>
        </form>
        <h4>Total: ${{ total_price }}</h4>
        <h3>Add Menu Item</h3>
        <form method="POST" action="{{ url_for('order.add_to_order', table_id=table_id) }}">
            <label for="menu_item_id">Select Item:</label>
            <select name="menu_item_id" required>
                {% for item in all_menu_items %}
                <option value="{{ item.id }}">{{ item.description }} - ${{ item.price }}</option>
                {% endfor %}
            </select>
        
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" value="1" min="1" required>
        
            <button type="submit">Add to Order</button>
        </form>
    </section>

    <footer>
        <p>All rights reserved.</p>
    </footer>


</body>
</html>
