<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Table for Payment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    
    <div class="container">
        <h2>Select a Table</h2>
        
        {% if tables %}
        <ul>
            {% for t in tables %}

                <li >
                    Table {{ t.table_number }} – ${{ t.total_price }}
                    <a class="btn" href="{{ url_for('payment.process_payment', table_id=t.table_id) }}">View & Pay</a>
                </li>
            {% endfor %}
        </ul>

        {% else%}
          <h4>No Unpaid Tables</h4>
        {% endif%}  
     </div>
</body>
</html>
