<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="burger" id="burger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="nav-links" id="navLinks">
                <a href="{{ url_for('reservations.reservations_creation') }}">Create Reservation</a>
                <a href="{{ url_for('support.support_page') }}">Customer Support</a>
                <a href="{{ url_for('menu.menu') }}">Menu</a>
    
                {% if not session.get('username') %}
                    <a href="{{ url_for('auth.sign_in') }}">Sign in</a>
                {% else %}
                    <a href="{{ url_for('reservations.reservations_foh') }}">View Reservations (FOH)</a>
                    <a href="{{ url_for('notifications.notifications') }}">Notifications</a>
                    <a href="{{ url_for('manager.requests_manager') }}">Manager Requests</a>
                    <a href="{{ url_for('menu.add_menu_item') }}">Add Menu Items</a>
                    <a href="{{ url_for('support.view_queries') }}">Manager: View Queries</a>
                    <a href="{{ url_for('inventory.add_supplier_inventory') }}">Supplier/Inventory</a>
                    <a href="{{ url_for('manager.get_my_schedule') }}">Schedule</a>
                    <a href="{{ url_for('manager.view_staff_schedules') }}">Manage Schedules</a>
                    <a href="{{ url_for('payment.payment_tables') }}">Table Payments</a>
                    <a href="{{ url_for('manager.create_schedule') }}">Create Schedule</a>
                    <a href="{{ url_for('manager.manager_reports') }}">Reports</a>
                    <a href="{{ url_for('order.view_tables') }}">Tables</a>
                    <a href="{{ url_for('inventory.inventory') }}">Inventory</a>
                    <a href="{{ url_for('auth.get_profile') }}">Profile</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>
<section>
    <h1>Staff Profile</h1>
    
    <div class="staff-form-container">
        <form action="{{ url_for('auth.get_profile') }}" method="POST" class="staff-form">

            <!-- First Name -->
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" value="{{ staff_data.first_name if staff_data else '' }}" required><br>

            <!-- Last Name -->
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="{{ staff_data.last_name if staff_data else '' }}" required><br>

            <!-- Phone Number -->
            <label for="phone_number">Phone Number:</label>
            <input type="text" name="phone_number" id="phone_number" value="{{ staff_data.phone_number if staff_data else '' }}"required><br>

            <!-- Email -->
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ staff_data.email if staff_data else '' }}"required><br>

            <!-- Username (Reads-only) -->
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="{{ user_data.username }}" readonly><br>
            <!-- passworrd -->
            <label for="password">Change Password? </label>
            <input type="password" name="password" id="password" ><br>
            
            <button type="submit">
                {{ 'Update' if staff_data else 'Create' }} Profile
            </button>
        </form>
        
        <form method="POST" action="{{ url_for('auth.delete_account') }}" onsubmit="return confirm('Are you sure you want to delete your account? This cannot be undone.');">
            <button type="submit" class="danger-button">Delete My Account</button>
        </form>
        <!-- tracking hours-->
        <form method="GET" action="{{ url_for('auth.get_profile') }}">

            <label>Start Date:</label>
            <input type="datetime-local" name="start">
        
            <label>End Date:</label>
            <input type="datetime-local" name="end">
        
            <button type="submit">View hours</button>
        </form>
        
        {% if hours %}
            <table border="1">
                <tr>
                    <th>Total Hours</th>
                </tr>
                <tr>
                    <td>{{ hours }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
</section>
</body>

</html>