<!-- templates/request_create.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Time Off Request</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
<section>
    <h2 style="text-align:center;">New Time Off Request</h2>

    <form method="POST">
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" required>
    
        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" required>
    
        <label for="reason">Reason:</label>
        <textarea name="reason" rows="4" required></textarea>
    
        <button type="submit">Submit Request</button>
    </form>
</section>

</body>
</html>
