<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    <section>
    <h1>Contact Support</h1>

    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br>

        <label>Message:</label><br>
        <textarea name="inquiry_text" required></textarea><br>

        <button type="submit">Send</button>
    </form>
</section>

</body>
</html>
