

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Link to the page-specific CSS file for the menu -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order.css') }}">

</head>
<body>

    <!-- Navigation Section -->
    <nav>

        <ul >
            <li><a href="{{ url_for('reservations.reservations_creation') }}">Create Reservation</a></li>
            <li><a href="{{ url_for('reservations.reservations_foh') }}">View Reservations (FOH)</a></li>
            <li><a href="{{ url_for('notifications.notifications') }}">Notifications</a></li>
            <li><a href="{{ url_for('manager.requests_manager') }}">Manager Requests</a></li>
            <li><a href="{{ url_for('menu.add_menu_item') }}">Add Menu Items</a></li>
            <li><a href="{{ url_for('menu.menu') }}">Menu</a></li>
            <li><a href="{{ url_for('order.view_tables') }}">Tables</a></li>
            <li><a href="{{ url_for('inventory.inventory') }}">Inventory</a></li>
            {% if not session.get('username') %} 
                <li><a href="{{ url_for('auth.sign_in') }}">Sign in</a></li>
                <li><a href="{{ url_for('auth.sign_up') }}">sign up</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.get_profile') }}">profile</a></li>
            {% endif %}

        </ul>
    </nav>

<!-- templates/tablesview.html -->
<h2>Select a Table</h2>
<ul>
    {% for table in tables %}
    <li><a href="{{ url_for('order.table_order', table_id=table.id) }}">Table {{ table.table_number }}</a></li>
    {% endfor %}
</ul>
    <footer>
        <p>All rights reserved.</p>
    </footer>


</body>
</html>
