

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% include 'partials/nav.html' %}
    <section>
<h2>Select a Table</h2>
<ul>
    {% for table in tables %}
    <li><a class="btn" href="{{ url_for('order.table_order', table_id=table.id) }}">Table {{ table.table_number }}</a></li>
    {% endfor %}
</ul>

</section>
    <footer>
        <p>All rights reserved.</p>
    </footer>


</body>
</html>
